<!doctype html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="content-language" content="zh-CN" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" >
    <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="author" content="杭州博采网络科技股份有限公司-高端网站建设-http://www.bocweb.cn" />
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>养生堂</title>
    <script src="/Html/js/jQuery.js"></script>
    <script src="/Html/js/vue.js"></script>
    <script src="/Html/js/main.js"></script>
    <link rel="stylesheet" href="/Html/css/reset.css">
    <link rel="stylesheet" href="/Html/css/style.css">
    <link rel="stylesheet" href="/Html/css/modify.css">
</head>
<body>
    <!--<div class="search-tit f-cb">-->
        <!--<input type="submit" class="btn fl">-->
        <!--<input type="text" class="text" placeholder="搜索关键字">-->
    <!--</div>-->
    <div class="search-content f-cb pb122" id="search-content">
        <ul>
            <li :class="[$index == 0 ? 'cur':'']" v-for="zhu in GoodsCategorys" :data-id="zhu.Id">{{zhu.Name.substring(0,8)}}<span v-if="zhu.Name.length >8">...</span></li>

        </ul>
        <div class="right fr">
            <div :class="['list',$index == 0 ? 'db':'']" v-for="ci in GoodsCategorys">
                <a :href="'/Html/Products/List.html?id='+list.Id" v-for="list in ci.ChildGoodsCategorys">{{list.Name.substring(0,8)}}<span v-if="list.Name.length >8">...</span></a>
            </div>

        </div>
    </div>
    <div class="subnav">
        <a href="/Index.html" class="sy">
            <span class="tb"></span>
            <span class="tt">首页</span>
        </a>
        <a href="/Html/Products/Search.html" class="fl cur">
            <span class="tb"></span>
            <span class="tt">分类</span>
        </a>
        <a href="/Html/ShopCar/ShopCar.html" class="sc">
            <span class="tb"></span>
            <span class="tt">购物车</span>
        </a>
        <a href="/Html/Member/PersonalCenter.html" class="wd">
            <span class="tb"></span>
            <span class="tt">我的</span>
        </a>
    </div>
    <div class="new-loading"><ul class="small-loading"><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li></ul></div>
    <script src="/Html/mjs/Search.js"></script>
    <script>

    </script>
</body>
</html>