<!doctype html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta charset="utf-8">
    <meta http-equiv="content-language" content="zh-CN" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" >
    <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="author" content="杭州博采网络科技股份有限公司-高端网站建设-http://www.bocweb.cn" />
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>BTV养生堂</title>
    <script src="/Html/js/jQuery.js"></script>
    <script src="/Html/js/core-min.js"></script>
    <script src="/Html/js/enc-base64-min.js"></script>
    <script src="/Html/js/vue.js"></script>
    <script src="/Html/js/main.js"></script>
    <link rel="stylesheet" href="/Html/css/reset.css">
    <link rel="stylesheet" href="/Html/css/style.css">
    <link rel="stylesheet" href="/Html/css/modify.css">
</head>
<body>
    <div class="per-cen pb140" id="per-cen">
        <div class="head">
            <a href="/Html/Member/My.html" class="head-in">
                <div class="img fl"><img src="/Html/img/img08.jpg" width="100%" height="100%" alt=""></div>
                <div class="info fl">
                    <div class="name"></div>
                    <div class="ph"></div>
                </div>
                <a :class="['jt2',SystemMessageCount=='0'?'':'jtr']" href="/Html/Member/News.html"></a>
            </a>
        </div>
        <div class="money f-cb">
            <div class="left fl">
                <a href="/Html/Wallet/Wallet.html">
                    <div class="num">{{Money}}</div>
                    <div class="p">我的钱包(元)</div>
                </a>
            </div>
            <div class="right fl">
                <a href="/Html/Wallet/Integral.html">
                    <div class="num">{{Integral}}</div>
                    <div class="p">我的积分(分)</div>
                </a>
            </div>
        </div>
        <div class="myorder">
            <div class="line">
                <a href="/Html/Order/MyOrder.html?orderType=0">
                    <div class="tt">我的订单</div>
                    <div class="tc">查看全部订单</div>
                    <span class="jt"></span>
                </a>
            </div>
            <div class="list f-cb">
                <a href="/Html/Order/MyOrder.html?orderType=1" class="pay">
                    <div class="tt">待付款</div>
                    <i v-if="PendingPayment != 0">{{PendingPayment}}</i>
                </a>
                <a href="/Html/Order/MyOrder.html?orderType=2" class="get">
                    <div class="tt">待收货</div>
                    <i v-if="WaitingForReceiving != 0">{{WaitingForReceiving}}</i>
                </a>
                <a href="/Html/Order/MyOrder.html?orderType=3" class="evaluate">
                    <div class="tt">待评价</div>
                    <i v-if="WaitingForEvaluate != 0">{{WaitingForEvaluate}}</i>
                </a>
                <a href="/Html/Order/MyOrder.html?orderType=4" class="service">
                    <div class="tt">售后</div>
                    <i v-if="HasRefund != 0">{{HasRefund}}</i>
                </a>
            </div>
        </div>
        <div class="line mt20" >
            <a href="/Html/Member/Myyouhq.html?vocherTpe=1">
                <div class="tt">我的优惠券</div>
                <span class="jt"></span>
            </a>
        </div>
        <div class="line " >
            <a href="/Html/Collection/Collection.html">
                <div class="tt">我的收藏</div>
                <span class="jt"></span>
            </a>
        </div>
        <div class="line bb">
            <a href="/Html/Collection/History.html">
                <div class="tt">浏览历史</div>
                <span class="jt"></span>
            </a>
        </div>
        <div class="partner">
            <div class="line bb">
                <a href="/Html/Sale/Partner.html">
                    <div class="tt">我的合伙人</div>
                    <span class="jt"></span>
                </a>
            </div>
            <div class="list f-cb">
                <ul>
                    <li>
                        <a href="##">
                            <div class="num"><span>{{TodayIncome}}</span>元</div>
                            <div class="p">今日收入</div>
                        </a>
                    </li>
                    <li>
                        <a href="##">
                            <div class="num"><span>{{TotalIncome}}</span>元</div>
                            <div class="p">累计收入</div>
                        </a>
                    </li>
                    <li>
                        <a href="##">
                            <div class="num"><span>{{TeamCount}}</span>人</div>
                            <div class="p">我的团队</div>
                        </a>
                    </li>

                </ul>
            </div>
        </div>
        <div class="weixin f-cb">
            <div class="logo fl" style="background-image: url('/Html/img/img16.jpg')"></div>
            <div class="info fl">
                <h2>BTV养生堂</h2>
                <div class="tc">健康生活每一天</div>
            </div>
            <div class="att fr">点击关注服务号</div>

        </div>
    </div>
    <div class="subnav">
        <a href="/Index.html" class="sy ">
            <span class="tb"></span>
            <span class="tt">首页</span>
        </a>
        <!-- <a href="/Html/hotsell/shangpfl.html" class="fl"> -->
        <a href="/Html/hotsell/shangpfl.html" class="fl">
            <span class="tb"></span>
            <span class="tt">分类</span>
        </a>
        <a href="/Html/ShopCar/ShopCar.html" class="sc">
            <span class="tb"></span>
            <span class="tt">购物车</span>
        </a>
        <a href="/Html/Member/PersonalCenter.html" class="wd cur">
            <span class="tb"></span>
            <span class="tt">会员中心</span>
        </a>
    </div>
    <div class="mask">
        <div class="box">
            <div class="ewm" style="background-image: url('../img/img27.jpg')"></div>
            <div class="p">
                长按图片 <br> 扫描二维码关注公众号
            </div>
        </div>
    </div>
    <div class="new-loading"><ul class="small-loading"><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li></ul></div>
    <script src="/Html/js/core-min.js"></script>
    <script src="/Html/js/enc-base64-min.js"></script>
    <script src="/Html/mjs/PersonalCenter.js" charset="utf-8"></script>
</body>
</html>