<?xml version="1.0" encoding="utf-8"?>
<HostComponents>
  <Components>
    <!-- 防止暴力访问 -->
    <Component Type="BntWeb.Security.RequestLimitFilter">
      <Properties>
        <!-- 是否开启 -->
        <Property Name="Enabled" Value="true" />
        <!-- 同一个IP每分钟最多访问次数 -->
        <Property Name="Maximum" Value="60" />
      </Properties>
    </Component>
    <!-- 短信发送服务 -->
    <Component Type="BntWeb.Core.SystemSettings.Services.DefaultSmsService">
      <Properties>
        <!-- 测试模式 -->
        <Property Name="Debug" Value="true" />
        <!-- 短信服务器地址、账号、密码 -->
        <Property Name="HostUrl" Value="http://120.26.69.248/msg" />
        <Property Name="Account" Value="shiyuan_xhzy" />
        <Property Name="Password" Value="Xhzyxingbl888" />
        <!-- 发送间隔（分钟），防止恶意刷短信接口 -->
        <Property Name="Interval" Value="1" />
      </Properties>
    </Component>
    <!-- 极光推送服务 -->
    <Component Type="BntWeb.Core.SystemSettings.Services.DefaultPushService">
      <Properties>
        <Property Name="AppKey" Value="ada22105703a382495a08fda" />
        <Property Name="MasterSecret" Value="beb5a803201a59987389b6c1" />
        <!--ApnsProduction：false开发环境，true生产环境-->
        <Property Name="ApnsProduction" Value="false" />
      </Properties>
    </Component>
    <!-- 文件服务 -->
    <Component Type="BntWeb.Core.SystemSettings.Services.FileService">
      <Properties>
        <!-- 中等缩略图宽度 -->
        <Property Name="MediumThumbnailWidth" Value="720" />
        <!-- 中等缩略图高度，填0则高度按宽度自动等比例计算，不填0则等比例缩放后白底填充-->
        <Property Name="MediumThumbnailHeight" Value="0" />
        <!-- 小缩略图宽度 -->
        <Property Name="SmallThumbnailWidth" Value="320" />
        <!-- 小缩略图高度，填0则高度按宽度自动等比例计算，不填0则等比例缩放后白底填充-->
        <Property Name="SmallThumbnailHeight" Value="0" />
      </Properties>
    </Component>
  </Components>
</HostComponents>
<!--ProjectGuid: {B9563D28-E4F7-4CA5-BF7C-6415D5A35022}-->