<!doctype html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta http-equiv="content-language" content="zh-CN"/>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
    <meta name="format-detection" content="telephone=no"/>
    <meta name="keywords" content=""/>
    <meta name="description" content=""/>
    <meta name="author" content="杭州博采网络科技股份有限公司-高端网站建设-http://www.bocweb.cn"/>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>BTV养生堂</title>
    <script src="/Html/js/jQuery.js"></script>
    <script src="/Html/js/core-min.js"></script>
    <script src="/Html/js/enc-base64-min.js"></script>
    <script src="/Html/js/vue.js"></script>
    <script src="/Html/js/main.js"></script>
    <script src="/Html/js/swiper.min.js"></script>
    <link rel="stylesheet" href="/Html/css/reset.css">
    <link rel="stylesheet" href="/Html/css/swiper.min.css">
    <link rel="stylesheet" href="/Html/css/style.css?v1">
    <link rel="stylesheet" href="/Html/css/modify.css">
</head>

<body class="index1">
<div class="welcome pb121 index1">
    <!-- <div class="search-tit f-cb">
    <div type="submit" class="btn fl"></div>
    <div type="text" class="text">搜索关键字</div>
</div> -->
    <div class="swiper-container swiper-container3 index-banner1" id="banner">
        <div class="swiper-wrapper">
            <div :class="['swiper-slide',banner.urllink=='Goods'?'infourl':'',banner.urllink=='GoodsCategory'?'listurl':'']"
                 v-for="banner in data" :style="{backgroundImage: 'url('+banner.CoverImage.RelativePath+')'}"
                 :data-id="banner.idlink"></div>
        </div>
        <!-- 如果需要分页器 -->
        <div class="swiper-pagination"></div>
    </div>
    <!--<div class="brand-btns f-cb">-->
    <!--<a href="/Html/Products/Brand.html?type=02" class="fl">只有精品</a>-->
    <!--<a href="/Html/Products/Brand.html?type=03" class="fr">热卖爆款</a>-->
    <!--</div>-->


    <div class="hotsell-baok" id="ad">
        <a class="hotsell-baokl" :href="'/Html/Products/Info.html?id='+list.ShotUrl"
           :class="[($index>0&&$index<3)?'hotsell-baokr':'',($index==3)?'hotsell-healfood':'']" v-for="list in data "
           :style="{backgroundImage: 'url('+list.AdvertImage.RelativePath+')'}">



        </a>
    </div>

    <div class="hotsell-healfoodbox" id="hotsell_healfoodbox">

        <div class="index-tab-ff">
            <div class="index-tab-main">
                <ul class="index-tab-mainul">
                    <li class="index-tab-mainli" v-for="list1 in data.Goods">
                        <a :href="'/Html/Products/Info.html?id='+list1.Id">
                        <img :src="list1.MainImage.MediumThumbnail">
                        <h2>{{list1.Name}}</h2>
                        <p><span>￥{{list1.ShopPrice}}</span><i>￥{{list1.OriginalPrice}}</i></p>
                        </a>
                    </li>

                </ul>
            </div>
        </div>
    </div>


</div>
<div class="subnav">
    <a href="/Index.html" class="sy cur">
        <span class="tb"></span>
        <span class="tt">首页</span>
    </a>
    <a href="/Html/Products/Search.html" class="fl">
        <span class="tb"></span>
        <span class="tt">分类</span>
    </a>
    <a href="/Html/ShopCar/ShopCar.html" class="sc">
        <span class="tb"></span>
        <span class="tt">购物车</span>
    </a>
    <a href="/Html/Member/PersonalCenter.html" class="wd">
        <span class="tb"></span>
        <span class="tt">我的</span>
    </a>
</div>
<div class="new-loading">
    <ul class="small-loading">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
</div>
<script src="/Html/mjs/hotsell.js"></script>
</body>

</html>
