<!doctype html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="content-language" content="zh-CN" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="author" content="杭州博采网络科技股份有限公司-高端网站建设-http://www.bocweb.cn" />
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>养生堂</title>
    <script src="/Html/js/jQuery.js"></script>
    <script src="/Html/js/vue.js"></script>
    <script src="/Html/js/main.js"></script>
    <script src="/Html/js/swiper.min.js"></script>
    <link rel="stylesheet" href="/Html/css/reset.css">
    <link rel="stylesheet" href="/Html/css/swiper.min.css">
    <link rel="stylesheet" href="/Html/css/style.css?v1">
    <link rel="stylesheet" href="/Html/css/modify.css">
</head>

<body class="index1">
    <div class="shangpfl-main" id="shangpfl_main">
        <a :href="'/Html/Products/List.html?id='+list.Id" v-for="list in data"> <img :src="list.FloorPicture.RelativePath"></a>
    </div>
    <div class="welcome pb121 index1">
        <div class="loading">加载中，请稍后...</div>
        <div class="search-box" id="search_box">
            <div class="content">
                <div class="search fl">
                    <div class="close fl"></div>
                    <input type="text" class="text" id="search_alert" placeholder="搜索关键字">
                    <span class="delete"></span>
                </div>
                <div class="btn fl">搜索</div>
            </div>
            <div class="con">
                <p>大家都在搜...</p>
                <ul>
                    <li v-for="tag in data" :data-tag="tag">{{tag}}</li>
                </ul>
            </div>
            <div class="nothing">
                <div class="tb"></div>
                <p>抱歉，没有找到符合条件的商品</p>
            </div>
        </div>
    </div>
    <div class="subnav">
        <a href="/Index.html" class="sy">
            <span class="tb"></span>
            <span class="tt">首页</span>
        </a>
        <a href="/Html/hotsell/shangpfl.html" class="fl  cur">
            <span class="tb"></span>
            <span class="tt">分类</span>
        </a>
        <a href="/Html/ShopCar/ShopCar.html" class="sc">
            <span class="tb"></span>
            <span class="tt">购物车</span>
        </a>
        <a href="/Html/Member/PersonalCenter.html" class="wd">
            <span class="tb"></span>
            <span class="tt">我的</span>
        </a>
    </div>
    <!--<div class="new-loading">-->
        <!--<ul class="small-loading">-->
            <!--<li></li>-->
            <!--<li></li>-->
            <!--<li></li>-->
            <!--<li></li>-->
            <!--<li></li>-->
            <!--<li></li>-->
            <!--<li></li>-->
            <!--<li></li>-->
        <!--</ul>-->
    <!--</div>-->
    <script src="/Html/mjs/shangpfl.js"></script>
</body>

</html>
