<!doctype html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="content-language" content="zh-CN" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="author" content="杭州博采网络科技股份有限公司-高端网站建设-http://www.bocweb.cn" />
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>BTV养生堂</title>
    <script src="/Html/js/jQuery.js"></script>
    <script src="/Html/js/vue.js"></script>
    <script src="/Html/js/main.js"></script>
    <script src="/Html/js/swiper.min.js"></script>
    <link rel="stylesheet" href="/Html/css/reset.css">
    <link rel="stylesheet" href="/Html/css/swiper.min.css">
    <link rel="stylesheet" href="/Html/css/style.css?v1">
    <link rel="stylesheet" href="/Html/css/modify.css">
</head>

<body class="index1">
    <div class="welcome pb121 index1">
        <!-- <div class="search-tit f-cb">
        <div type="submit" class="btn fl"></div>
        <div type="text" class="text">搜索关键字</div>
    </div> -->
        <div class="youhq-box" id="youhq" >
            <div class="youhq" v-for="list in yhq"  :data-fromtime="list.starttime" :data-lasttime="list.endtime" :data-price="list.Denomination" :data-maxprice="list.Condition">
                <a href="javascript:;" class="lingqu2"><img class="lingqu" :dataId="list.Id" src="../img/youhq-img2.png"></a>
                <div class="youhq-mainl">
                    <div class="youhq-mainl1">
                        <span>￥{{list.Denomination}}</span>
                        <a href="javascript:;" class="leix" v-if="list.Type==0">通用</a>
                        <a href="javascript:;" class="leix" v-if="list.Type==1">{{list.CategoriesName}}</a>
                    </div>
                </div>
                <div class="youhq-mainr">
                    <div class="youhq-mainr1">满{{list.Condition}}减{{list.Denomination}}</div>
                    <div class="youhq-mainr2">有效期：{{list.endtime}}</div>
                </div>
            </div>
        </div>
        <!-- <div class="loading">加载中，请稍后...</div>
        <div class="search-box" id="search_box">
            <div class="content">
                <div class="search fl">
                    <div class="close fl"></div>
                    <input type="text" class="text" id="search_alert" placeholder="搜索关键字">
                    <span class="delete"></span>
                </div>
                <div class="btn fl">搜索</div>
            </div>
            <div class="con">
                <p>大家都在搜...</p>
                <ul>
                    <li v-for="tag in data" :data-tag="tag">{{tag}}</li>
                </ul>
            </div>
            <div class="nothing">
                <div class="tb"></div>
                <p>抱歉，没有找到符合条件的商品</p>
            </div>
        </div> -->
    </div>
    <div class="popup-box">
        <div class="popup">
            <div class="popup1"></div>
            <div class="popup2">
                <p>适用范围：<span id="leixing"></span>
                    <br/>优惠额度：满<span id="maxprice"></span>减 <span id="price"></span>
                    <br/>使用门槛：消费满<span id="maxprice2"></span>元
                    <br/>有效期：<span id="fromtime"></span> 至 <span id="lasttime"></span>
                </p>
            </div>
            <span class="popup3">查看优惠券</span>
            <div class="popup-chac"></div>
        </div>
        <div class="popup-bg"></div>
    </div>
    <div class="popup-box-two">
        <div class="popup-two">
            <div class="popup-two1"></div>
            <div class="popup-two2">
                <p>亲，每一张优惠券只能领取一次哦~
                </p>
            </div>
            <div class="popup-chac"></div>
        </div>
        <div class="popup-bg"></div>
    </div>

    <div class="new-loading">
        <ul class="small-loading">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div>
    <script src="/Html/mjs/youhq.js"></script>

</body>

</html>
