<!doctype html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta http-equiv="content-language" content="zh-CN"/>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
    <meta name="format-detection" content="telephone=no"/>
    <meta name="keywords" content=""/>
    <meta name="description" content=""/>
    <meta name="author" content="杭州博采网络科技股份有限公司-高端网站建设-http://www.bocweb.cn"/>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>养生堂</title>
    <script src="/Html/js/jQuery.js"></script>
    <script src="/Html/js/vue.js"></script>
    <script src="/Html/js/main.js"></script>
    <script src="/Html/js/qrcode.js"></script>
    <script src="/Html/js/clipboard.min.js"></script>
    <link rel="stylesheet" href="/Html/css/reset.css">
    <link rel="stylesheet" href="/Html/css/style.css">
    <link rel="stylesheet" href="/Html/css/color-change.css">
</head>
<body>
<div class="mypartner">
    <div class="wallet">
        <div class="intinfo" id="moneyinfo">
            <p class="tt">可提现金额(元)</p>
            <div class="num"><span>0</span></div>
            <p class="can">提现中的金额 ￥{{Withdrawals}}</p>
            <div class="intro">合伙人计划</div>
            <a href="/Html/Wallet/Withdrawals.html" class="wd">提现</a>
        </div>
    </div>
    <div class="per-cen">
        <div class="money f-cb">
            <div class="left fl">
                <div class="num"><span class="sz">8</span><span class="yuan">元</span></div>
                <div class="p">今日收入</div>
            </div>
            <div class="right fl">
                <div class="num"><span class="sz">250</span><span class="yuan">元</span></div>
                <div class="p">累计收入</div>
            </div>
        </div>
    </div>
    <div class="submit">邀请合作伙伴</div>
    <div class="con">
        <div class="btns f-cb">
            <div class="record btn cur">佣金记录</div>
            <div class="team btn">我的团队（<span></span>）</div>
        </div>
        <div class="content">
            <div class="record-con db" id="record_con">
                <ul>
                    <li v-for="list in WalletBills">
                        <div class="top f-cb">
                            <div class="num fl">{{list.Remark}}</div>
                            <div class="money fr"><span>+{{list.prices1}}.{{list.prices2}}</span>元</div>
                        </div>
                        <div class="bot f-cb">
                            <div class="time fl">订单时间：{{list.time}}</div>
                            <div class="name fr">{{list.MemberName}}</div>
                        </div>
                    </li>
                </ul>
                <div class="loadingm">加载中，请稍后...</div>
            </div>
            <div class="team-con" id="team_con">
                <ul>
                    <li v-for="list in Partners">
                        <div class="img fl">
                            <img :src="list.himg" width="100%" height="100%" alt="">
                        </div>
                        <div class="info fl">
                            <div class="name">{{list.MemberName}}</div>
                        </div>
                        <div class="money fr">
                            <span>+{{list.prices1}}.{{list.prices2}}</span>元
                        </div>
                    </li>
                </ul>
                <div class="loadingt">加载中，请稍后...</div>
            </div>
        </div>
    </div>
</div>
<div class="mask">
    <div class="box">
        <div class="ewm" id="qrcode" ></div>
        <div class="p">
            扫描二维码成为合伙人！
        </div>
        <!--<span class="num"></span>-->
        <input type="input" id="bar" value="1111" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false">
        <button class="copy" data-clipboard-action="copy" data-clipboard-target="#bar">复制链接</button>
    </div>
</div>
<div class="success">
    <div class="box">
        <div class="tb failico"></div>
        <div class="p">抱歉，只有在商城中购买过商品，才可以邀请合伙人</div>
        <a href="/Index.html" class="goshopp">去购物</a>
        <a href="javascript:;" class="wait">稍后再说</a>
    </div>
</div>
<div class="new-loading"><ul class="small-loading"><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li></ul></div>
<script src="/Html/mjs/Partner.js"></script>

</body>
</html>