<!doctype html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="content-language" content="zh-CN" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" >
    <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="author" content="杭州博采网络科技股份有限公司-高端网站建设-http://www.bocweb.cn" />
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>BTV养生堂</title>
    <script src="/Html/js/jQuery.js"></script>
    <script src="/Html/js/core-min.js"></script>
    <script src="/Html/js/enc-base64-min.js"></script>
    <script src="/Html/js/vue.js"></script>
    <script src="/Html/js/main.js"></script>
    <link rel="stylesheet" href="/Html/css/reset.css">
    <link rel="stylesheet" href="/Html/css/style.css">
</head>
<body>
    <div class="comment" id="comment">
        <div class="box" v-for="list in OrderGoods" :data-id="list.SingleGoodsId">
            <div class="pro-style">
                <div class="img fl" :style="{backgroundImage: 'url('+list.GoodsImage.SmallThumbnail+')'}"></div>
                <div class="info fl">
                    <div class="name">{{list.GoodsName.substring(0,18)}}<span v-if="list.GoodsName.length >18">...</span></div>
                </div>
                <div class="num fr">
                    <div class="price">¥ {{list.prices1}}.{{list.prices2}}</div>
                    <div class="number">x {{list.Quantity}}</div>
                    <!--<div class="back">退款详情</div>-->
                </div>
                <div class="color fl"><span v-for="sx in list.shuxi">{{sx}}</span></div>
            </div>
            <div class="line pf">
                <div class="tt">商品评分</div>
                <ul>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>
            </div>
            <div class="line f-cb">
                <div class="tt">商品评价 </div>
                <textarea name="" id="" cols="30" rows="10" class="textarea" placeholder="如果满意，请给好评哦" maxlength="200"></textarea>
                <div class="clear"></div>
                <div class="cal fr"><span>0</span>/200</div>
            </div>
            <div class="line f-cb">
                <div class="tt">是否匿名</div>
                <div class="weui_cell_ft fr">
                    <input class="weui_switch" type="checkbox">
                </div>
            </div>
        </div>

        <div class="submit">确认提交</div>
    </div>
    <script src="/Html/mjs/Comment.js"></script>

</body>
</html>